<section id="menu" class="menu section">

   
    <div class="container">

        @await Component.InvokeAsync("_DefaultMenuProductComponentPartial")

        @await Component.InvokeAsync("_DefaultMenuCategoryComponentPartial")

    </div>

</section><!-- /Menu Section -->